/* index样式 */
/* banner */
.wrap-banner-box{
	width: 100%;
	height: auto;
}
.img-banner{
	position: relative;
}
.cont-banner{
	width: 50rem;
	height:30rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.cont-banner-one{
	width: 100%;
	height: 270px;
}
.img_kuang{
	width: 140px;
	height: 255px;
	position: absolute;
	left: 8%;
	top: 0;
}
.title-banner{
	position: absolute;
	top: 10%;
	right: 17%;
}
.title-banner > p{
	color: #951a21;
	font-size: 1.8rem;
	margin-bottom: 25px;
}
.title-banner > h2{
	font-size: 3.5rem;
	font-weight: 500;
	margin-bottom: 25px;
}
.title-banner > h3{
	font-size: 2.3rem;
	margin-bottom: 25px;
}
.img-videoPlay{
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}
/* 公司介绍 */
.wrap-introduction-box{
	width: 100%;
	height: auto;
	margin-top: 5rem;
	margin-bottom: 6rem;
	position: relative;
}
.title-introduction{
	width: 100%;
	height: 4.5rem;
	margin-bottom: 3rem;
	background:url(../images/index/introduction@2x.png) no-repeat center;
}
.title-introduction h1{
	font-size: 3rem;
	vertical-align: bottom;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 1rem;
	color: #8e0109;
}
.title-introduction span{
	width: 5rem;
	height: 3px;
	display: inline-block;
	background-color: #8e0109;
}
.cont-introduction{
	width: 100%;
	height: auto;
}
.cont-introduction p{
	font-size: 1.5rem;
	line-height: 2.2rem;
	text-indent: 20px;
	margin-bottom: 5px;
}
.img_introduction{
	width: 100%;
	height: auto;
	position: relative;
}
.img_introduction >.img_introduction_one{
	width: 98%;
	height: auto;
	position: absolute;
	z-index: 1;
}
.img_introduction >.img_introduction_two{
	width: 98%;
	height: auto;
	position: absolute;
	top: 10px;
	right: 0;
}
.bgc-introduction{
	width: 30%;
	height: auto;
	position: absolute;
	left: 5%;
	right: 0;
	bottom: -20px;
}

/* ceo */
.wrap-ceo-box{
	width: 100%;
	height: auto;
	margin-top: 4rem;
}

.L_img-ceo{
	width: 100%;
	height: 100%;
	position: relative;
}
.L_img-ceo > .L_img-one{
	width: 290px;
	height: auto;
	padding: 18px;
	position: absolute;
    padding: 18px;
    z-index: 1;
}
.L_img-ceo > .L_img-two{
	width: 75px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}
.L_img-ceo > .L_img-three{
	width: 420px;
	height: auto;
	position: absolute;
	top: 270px;
	right: -80px;
}
.R_cont-ceo > h3{
	font-size: 2.5rem;
	padding-left: 20px;
	border-left: 5px solid #8E0109;
	margin-bottom: 5px;
}
.R_cont-ceo > h3 > span{
	font-size: 2rem;
	color: #8E0109;
	display: inline-block;
	padding-left: 5px;
}
.R_cont-ceo > span{
	font-size: 1.5rem;
	color: #9F9F9F;
	display: inline-block;
	padding-left: 25px;
}
.ul_ceo{
	width: 100%;
	height: 100%;
	margin-top: 1rem;
	margin-left: 25px;
}
.ul_ceo > li{
	width: 100%;
	line-height: 2.3rem;
	font-size: 1.4rem;
}

/* 创始人 */
.wrap-originator-box{
	width: 100%;
	height: auto;
	margin-top: 4rem;
	margin-bottom: 5rem;
}
.title-originator-box{
	padding-bottom: 2.6rem;
	color: #8E0109;
}
.title-originator-box h2{
	font-size: 2.5rem;
}
.cont-originator-box{
	width: 90%;
	margin: 0 auto;
}

.cont-originator-box .main-originator{
	padding: 2rem;
}

.main-originator > .img_cont-originator{
	width: 55%;
	margin: 0 auto;
}
.main-originator > .cont-originator{
	width: 80%;
	margin: 0 auto;
	padding-top: 2rem;
}
.main-originator > .cont-originator > p{
	font-size: 1.6rem;
}
.main-originator > .cont-originator > span{
	color: #8E0109;
	font-size: 1.5rem;
}
/* 院长 */
.wrap-yuanzhang-box{
	width: 100%;
	height: auto;
	margin-top: 3rem;
}
.title-yuanzhang{
	width: 100%;
	height: auto;
}
.title-yuanzhang > h3{
	border-left: 5px solid #8E0109;
	padding-left: 20px;
	font-size: 2.5rem;
}
.title-yuanzhang > h3 > span{
	display: inline-block;
	padding-left: 20px;
	font-size: 2rem;
	color: #8E0109;
}
.cont-yuanzhang{
	padding-left: 25px;
	margin-top: 1.5rem;
}
.cont-yuanzhang p{
	line-height: 2rem;
	margin-bottom: 0;
	font-size: 1.5rem;
}
.img-yuanzhang{
	width: 100%;
	height: auto;
	position: relative;
}
.img-yuanzhang > .img_yuanzhang-one{
	width: 90%;
}
.img-yuanzhang > .img_yuanzhang-two{
	width: 78%;
	height: 100%;
	position: absolute;
	top: -5px;
	right: 30px;
}
/* 发展 */
.wrap-develop-box{
	width: 100%;
	height: 12rem;
	margin: 3rem 0;
	background: url(../images/index/index_fazhan.png)  no-repeat center;
	background-size: 100% 100%;
	
}
.main-develop-box{
	width: 70%;
	height: auto;
	margin: 0 auto;
	color: #ffffff;
}
.main-develop-box > div{
	width: 24%;
	height: auto;
	text-align: center;
	display: inline-block;
	padding: 2.3rem 0;
}
.main-develop-box > div > h4{
	font-size: 3.2rem;
}
.main-develop-box > div > p{
	font-size: 1.6rem;
}

/* 企业文化 */
.wrap-enterprise-box{
	width: 100%;
	height: auto;
	margin-bottom: 3rem;
}
.title-enterprise{
	font-size: 3rem;
    vertical-align: bottom;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 1rem;
    color: #8e0109;
}
.main-enterprise-box{
	width: 100%;
	height: auto;
	margin-top: 4rem;
	margin-bottom: 3rem;
	background: url(../images/index/index_enterprise1.png) no-repeat center;
	background-size: 100% 100%;
}
.cont-enterprise{
	width: 60%;
	height: auto;
	margin: 3rem auto;
	background: rgba(243,243,243, 0.8);
}

/* 公司历程 */
.wrap-course-box{
	width: 100%;
	height: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background: url(../images/index/index_course_bgc.png) no-repeat center;
	background-size: 100% 100%;
}
.L-time-course{
	
}
