/* 各页面共用样式 */
/* 头部样式 */
.wrap-header-box{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    background-color: #FFFFFF;
}
.header-logo{
    width: 16%;
    float: left;
    margin-bottom: 1rem;
}
.nav-box{
    width: 40%;
    height: auto;
    padding-top: 2rem;
    float: right;
    cursor: pointer;
}
.nav-header{
    width: 65%;
    height: auto;
    float: left;
    margin-bottom: 0;
    font-size: 1.5rem;
}
.nav-header > div{
    float: left;
    height: auto;
    padding-bottom: 1.8rem;
    margin-left: 2rem;
}
.nav-header > span{
    float: left;
    width: 2rem;
    height: 1rem;
    margin-top: 0.3rem;
    border-right: 2px solid #1d1d1d;
}
.nav-header > div:hover{
    color: #8e0109;
    border-bottom: 2px solid #8e0109;
}
/* .nav-header li{
    float: left;
    height: auto;
    padding-bottom: 1.8rem;
    margin-left: 2rem;
    padding-left: 0.5rem;
}
.nav-header li span{
    display: inline-block;
    width: 0.5rem;
    height: 0.8rem;
    border-right: 2px solid #1d1d1d;
} */
.nav_active{
    color: #8e0109;
    border-bottom: 2px solid #8e0109;
}


/* 中英文切换样式 */
.languageTab-header{
    width: 18%;
    height: 1.7rem;
    background-color: #FFFFFF;
    position: relative;
    float: left;
    margin-left: 2rem;
}
.languageTab-header > div{
    width: 49%;
    height: 1.8rem;;
    float: left;
}
.languageTab-header > div > span{
    margin-top: 0.1rem;
    margin-right: 0.2rem;
    display: inline-block;
}
/* .cn-active{
    border-top: 18px solid red;
    border-right: 12px solid transparent;
    color: #FFFFFF;
}
.en-active{
    border-bottom: 18px solid red;
    border-left: 12px solid transparent;
    color: #FFFFFF;
} */
.cn-active{
    background: url(../images/cn_active.png) no-repeat center;
    background-size: 100% 100%;
}
.en-active{
    background: url(../images/en_active.png) no-repeat center;
    background-size: 100% 100%;
}
.lang_color{
    color: #FFFFFF;
}

/* 底部样式 */
.wrap-foot-box{
    width: 100%;
    height: auto;
    background-color: #313131;
    color: #FFFFFF;
}
.main-foot-about{
    background-color: #313131;
    padding-bottom: 0.5rem;
}
.cont-foot-box{
    width: 100%;
    height: auto;
    padding-top: 1rem;
}
.nav-foot{
    margin-top: 1rem;
    font-size: 2rem;
}
.cont-foot{
    margin-top: 0;
    color:#ebebeb;
}
.cont-foot p{
    margin-top: 2.4rem;
    display: inline-block;
}
.erweima-foot{
    padding-top: 2rem;
    float: right;
    padding-right: 5rem;
}
.erweima-foot>img{
    width: 8rem;
    height: 8rem;
    margin: 0 1rem;
}
.erweima-foot > p{
    margin-top: 1rem;
}
.main-foot-copyright{
    background-color: #1f1f1f;
    text-align: center;
    color: #b7b7b7;
}
.main-foot-copyright p{
    margin-top: 0.625rem;
}

/*返回顶部*/
.group_fanhui_top{
	position: fixed;
	bottom: 10%;	
	right: 3%;
	width: 30px;
	height: 30px;
	display: none;
}
.group_fanhui_top img{
	width: 100%;
	height: 100%;
}
.main-subsidiary-box .guanbi{
	position: absolute;
    top: 4%;
    right: 3%;
    width: 25px;
    height: 25px;
}
.main-subsidiary-box img{
	width: 100%;
	height: 100%;
}

/* 各页面共用样式结束 */